@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --ifm-color-primary: #337f8f;
  --ifm-color-primary-dark: #2e7281;
  --ifm-color-primary-darker: #2b6c7a;
  --ifm-color-primary-darkest: #245964;
  --ifm-color-primary-light: #388c9d;
  --ifm-color-primary-lighter: #3b92a4;
  --ifm-color-primary-lightest: #42a5ba;
  --ifm-background-color: #0c1e20;
  font-family: "Inter", sans-serif;
}

[data-theme='dark'] {
  --ifm-background-color: #0c1e20;
}

html, .navbar, .footer {
  background-color: #0c1e20;
}